<h3> #<%= @reservation.id %> - Reservation Updated </h3>
<br/>
Hi <%= @reservation.guest.name %>,

Thank you for your reservation, following are the updated details:
<br/>
<br/>
<table>
  <tbody>
    <tr>
      <td><b>Restaurant</b></td>
      <td><%= @reservation.restaurant.name.titleize %></td>
    </tr>
    <tr>
      <td><b>Shift</b></td>
      <td><%= @reservation.shift.name.titleize %></td>
    </tr>
    <tr>
      <td><b>Table</b></td>
      <td><%= @reservation.table.name.titleize %></td>
    </tr>
    <tr>
      <td><b>Time</b></td>
      <td>
        <% if @changed_attributes["time"].present? %>
          <strike><%= @changed_attributes["time"] %></strike> <%= @reservation.time %>
        <% else %>
          <%= @reservation.time %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><b>Total Guests&nbsp;&nbsp;&nbsp;</b></td>
      <td>
        <% if @changed_attributes["guest_count"].present? %>
          <strike><%= @changed_attributes["guest_count"] %></strike> <%= @reservation.guest_count %>
        <% else %>
          <%= @reservation.guest_count %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
